@font-face {
  font-family: LicensePlate;
  font-style: lighter;
  src: local('License Plate'),
    url('./LicensePlate.ttf'); 
}

* {
  outline: 0;
}

body {
  font-family: 
    "rubik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #039be5;
  list-style: none;
  margin: auto auto;
}

html {
  /* display: flex; */
  max-width: 100%;
  flex-wrap: wrap;
}

input {
  border-radius: 8px;
  border-style: none;
  border: 1px solid #e4e6e8;
  transition: 0.1s ease;
  max-width: 100%;
}

input:hover {
  border-color: palevioletred;
}

button {
  display: flex;
  border: 1px solid #e4e6e8;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in;
  background: aliceblue;
}

button:hover {
  background-color: palevioletred;
  color: white;
}

img {
  border-style: none;
  max-width: 100%;
}
/* 
.plate {
  width: 375px;
  text-align: center;
} */

/* on main reviews list */
.plate-btn {
  padding: 14px;
  margin-right: 8px;
  border-radius: 2px;
  background: white;
  color: blue;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.45);
  font-size: 14px;
  font-family: LicensePlate;
}

.plate-div-nav {
  display: flex;
}

/* on public-plate reviews and myPlate reviews */
.plate-name {
  padding: 14px;
  margin-right: 8px;
  border-radius: 2px;
  background: white;
  color: blue;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.45);
  font-size: 14px;
  font-family: 'LicensePlate';
}

.plate-review-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 100%;
}

.plate-review-item {
  border: 1px solid #999;
  list-style-type: none;
  padding: 10px;
  margin: 0 10px 0 10px;
  max-width: 100%;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

.about {
  z-index: 1;
}

a {
  color: #e4e6e8;
}