/* 
#claim-search-form.claim-search-form {
  display: flex;
} */

.inline-search {
  display: flex;
}

#claim-search.claim-search-input {
  background-color: white;
  display: inline-block;
  width: 200px;
}

select.browser-default {
  font-size: 12px;
  text-align-last:center; 
  display: inline-block;
  width: 100px;
}

.claim-search {
  margin: 0 auto;
}

.claim-search-label, .plateState-label {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.plateState-label{
  display: none;
}

.search-btn {
  display: block;
  margin: 0 auto;
}

.claim-back-link {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.claim-back-link:hover {
  color: white;
}

/* @media only screen 
  and (min-width: 481px)
  and (max-width: 600px) {
    .claim-search {
      margin: 0 auto;
      width: 80%;
    }
}

@media only screen 
  and (min-width: 601px)
  and (max-width: 767px) {
    .claim-search {
      margin: 0 auto;
      width: 70%;
    }
} */ 

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
/* @media only screen 
  and (min-width: 481px)
  and (max-width: 1024px)
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .claim-search {
      margin: 0 auto;
      width: 50%;
    }
}

@media only screen 
  and (min-width: 768px)
  and (max-width: 1600px) {
    .claim-search {
      margin: 0 auto;
      width: 50%;
    }
} */

/* ----------- Non-Retina Screens ----------- */
/* @media screen 
  and (min-width: 1025px)
  and (max-width: 1600px)
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .claim-search {
      margin: 0 auto;
      width: 40%;
    }
} */

/* ----------- Retina Screens ----------- */
/* @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .claim-search {
      margin: 0 auto;
      width: 40%;
    }
} */