.dashboard {
  background: #039be5;
  height: 100vh;
  max-width: 100%;
  align-items: center;
}

button.logout {
  margin: 10px;
  background: #039be5;
  border: none;
  color: aliceblue;
}

button.add-review {
  margin: 10px;
}

.dashboard-greeting {
  padding: 8px;
  display: flex;
  align-items: center;
}

.dashboard-greeting p {
  margin: 10px;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 600;
}