h1 {
  margin: 0;
  font-size: 32px;
  color: #011d2b;
}
.site-header {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  background: #039be5;
  border-bottom: 1px solid #0284c5;
}

.logo {
  display: flex;
  flex: 0;
  padding: 0 30px;
  position: relative;
  align-self: stretch;
  align-items: center;
}

.icon {
  width: 30px;
}

.header-middle-area {
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
}

.search {
  display: none;
  padding-left: 15px;
  justify-content: flex-end;
  flex-direction: flex-end;
}

nav {
  color: #fff;
  background-color: transparent;
  width: 100%;
  border: none;
  box-shadow: none;
}

@media only screen and (min-width: 320px)
and (max-width: 480px) {
  header {
    line-height: 0;
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin: 0 auto;
    padding-top: 10px;
  }

  .header-middle-area {
    background-color: inherit;
    width: 100%;
  }

  nav {
    height: 0;
  }
}