.dashboard {
  background: #039be5;
  height: 100vh;
  max-width: 100%;
}

.dashboard :last-child {
  justify-content: center;
  align-items: center;
  text-align:center;
}

/* button.logout {
  background: #039be5;
  border: none;
  color: aliceblue;
} */

button.add-review {
  background: rgb(60, 199, 60);
  padding: 10px 15px;
  color: aliceblue;
  position: relative;
  margin: 0 auto;
}

.dashboard-greeting :last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.dashboard-greeting p {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 600;
}