body {
  font-family: 
    "rubik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
  list-style: none;
  margin: auto auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
  flex-wrap: wrap;
}
