.home {
  text-align: center;
  background: #f4f4f4;
  width: 100vw;
}

.landing-top {
  /* background-image: linear-gradient(to top left, rgb(86, 148, 156),#57bc90); */
  background:  linear-gradient(
    rgba(40, 41, 41, 0.4), 
    rgba(92, 138, 138, 0.2)
  ), url('../assets/dashboard1.jpg');
  background-size: 100% 100%;
}

.landing-content {
  height: 67vh;
  align-items: center;
  display: flex;
  color: #f4f4f4;
  box-shadow: 0px 2px 6px 1px rgb(54, 60, 61, 0.1);
}

.landing-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.landing-text h1 {
  font-size: 42px;
  color: #f4f4f4;
  /* color: rgb(30, 170, 144); */
}

.landing-text p {
  margin: 0px;
  font-size: 14px
}

#catch-phrase {
  margin-top: 0px;
  font-style: italic;
  color: #f4f4f4;
}

#landing-img {
  border-style: none;
  /* max-width: 100%; */
  border-radius: 50%;
  /* height: 62%; */
  /* width: 50%; */
  margin: 12px;
  height: 200px;
  width: 200px;
}