.my-plates-back-link {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: -5px;
  color: rgba(9, 9, 128, 0.719);
  font-size: 14px;
}

.my-plates-back-link:hover {
  color: rgb(204, 255, 246);
}

button.plate {
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
  width: 300px;
}

.my-plates {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-plates h1 {
  position: relative;
  padding-top: 10px;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}

.my-plates p {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  color: rgba(0, 0, 0, 0.753);
  /* font-style: italic; */
}

.plates-icon {
  margin: 0 auto;
  height: 30px;
  padding: 5px;
}

.plate-item {
  padding: 10px;
}

.plate {
  position: relative;
  padding-top: 10px;
  margin: 0 auto;
  justify-content: space-between;
  display: block;
  width: 300px;
  height: 70px;
  background-color: rgba(255, 255, 0, 0.582);
  box-shadow: 5px 5px 5px #8888886b;
  border: 3px solid rgba(0, 0, 0, 0.658);
  border-radius: 15px;
  background: linear-gradient(to bottom,  #aaaaaa 0%,#ffffff 100%); 
}

button.plate {
  border: 2px solid rgb(9, 9, 128);
  font-size: 23px;
  font-weight: 400;
  color: rgb(9, 9, 128); 
}
