.my-plates-back-link {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
}

.my-plates-back-link:hover {
  color: rgb(204, 255, 246);
}

.my-plates-back-link:hover {
  color: grey;
}

button.plate {
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
  width: 300px;
}

.my-plates {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-plates h1 {
  position: relative;
  padding-top: 10px;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}

.my-plates p {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  color: rgba(0, 0, 0, 0.753);
  /* font-style: italic; */
}

.plates-icon {
  margin: 0 auto;
  height: 30px;
  padding: 5px;
}

.plate-item {
  padding: 10px;
}

.plate {
  position: relative;
  padding-top: 10px;
  margin: 0 auto;
  justify-content: space-between;
  display: block;
  width: 300px;
  height: 70px;
  background-color: rgba(255, 255, 0, 0.582);
  box-shadow: 5px 5px 5px #8888886b;
  border: 3px solid rgba(0, 0, 0, 0.658);
  border-radius: 15px;
  background: linear-gradient(to bottom,  #aaaaaa 0%,#ffffff 100%); 
}

button.plate {
  border: 2px solid rgb(9, 9, 128);
  font-size: 23px;
  font-weight: 400;
  color: rgb(9, 9, 128); 
}

.my-plates-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
}

.my-plates-home-link {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  text-decoration: none
}

.my-plates-home-link:hover {
  color: grey;
}

.plate-title {
  border: grey 1px solid;
  background: whitesmoke;
  border-radius: 3px;
  min-width: 124px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.45);
  font-family: LicensePlate;
  color: blue;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 30px;
}

.plate-title h2 {
  font-weight: lighter;
  margin: 13px;
  font-size: 53px;
  padding-top: 4px;
}

.plate-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 400px;
  margin: 28px auto;
}

.plate-text {
  font-family: LicensePlate;
}

.unclaim-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#unregister-plate-btn {
  background: #039be5;
  border: none;
  color: aliceblue;
  font-size: 16px;
  margin: 4px;
  margin-bottom: 8px;
}

#unclaim-plate-btn {
  background: none;
  border: none;
  color: aliceblue;
  font-size: 16px;
  margin: 4px;
}

.unclaim-options {
  font-size: 14px;
}

.buttons-div {
  display: flex;
  justify-content: space-evenly;
}

.confirm-buttons {
  background: #039be5;
  border: none;
  color: aliceblue;
  font-size: 16px;
  margin: 4px;
}

.confirm-buttons:hover {
  color: grey;
}
