/* .navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
} */

.navbar {
  margin-top: 0px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 14px;
  margin-top: 0px;
}

.nav-list a {
  color: whitesmoke;
}

.login-button {
  background: #039be5;
  color: aliceblue;
  border: none;
  font-size: 17px;
}

.about-links, .nav-items {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
}

#about-btn {
  margin: 0px;
}

.login-link:hover, .register-link:hover, .landing-link:hover, .about-link:hover {
  color: grey;
}