.plates-back-link  {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  text-decoration: none
}

.plates-back-link :hover {
  color: grey;
}

.public-plate-wrapper-positive {
  text-align: center;
  border-top: 1px solid darkgreen;
  border-bottom: 1px solid darkgreen;
  padding: 20px;
  background: darkgreen;
  color: white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.45);
  width: 100vw;
  box-sizing: border-box;
}

.public-plate-wrapper-negative {
  text-align: center;
  border-top: 1px solid darkred;
  border-bottom: 1px solid darkred;
  padding: 20px;
  background: darkred;
  color: white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.45);
  width: 100vw;
  box-sizing: border-box;
}

