.submit-review {
  /* max-width: 500px; */
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  height: 200px;
  max-height: 100%;
  width: 400px;
  max-width: 100%;
  text-align: center;
}

#submit-review-form {
  margin: auto;
}

#review-search {
  margin: 200px;
}

.box {
  display: flex;
  width: 220px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.box div{
  width: 200px;
  height: 200px;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: fit-content; */
}

img {
 margin: auto;
 box-align: center;
 align-self: center;
 align-content: center;
 /* max-height: 250px; */
 border: 1px solid #ddd; /* Gray border */
 border-radius: 4px;  /* Rounded border */
 /* width: 200px; Set a small width */
}

li {
 margin: 0px;
 font-weight: 600;
 font-size: .75em;
 text-align: center;
 list-style-type: none;
}

img:hover {
 transform: scale (1.1);
 box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* moved to App.css */
/* .plate {
  border: 1px solid #999;
  text-align: center;
} */

.plate-review-list {
  margin: 0;
  padding: 0;
}

.plate-review-item {
  border: 1px solid #999;
  list-style-type: none;
  padding: 10px;
  margin: 0 10px 0 10px;
}

.isClaimed-icon {
  display: inline-block;
  width: 20px;
}

.review-list-div {
  text-align: center;
}

.review-container {
  display: flex;
  /* max-width: 225px; */
  flex-wrap: wrap;
  flex-direction: row;
  /* overflow-x: scroll; */
}

.review-list-div {
  display: flex;
}

.review {
  flex: 1;
  list-style-type: none;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin: 0 10px 0 10px;
  border-radius: 8px;
}

.review h1 {
  display: inline-block;
  font-size: 18px;
}

/* With gutters */
.review-container--gutters {
  margin: -1em 0 0 -1em;
}
.review-container--gutters > .review-container-cell {
  padding: 1em 0 0 1em;
}

/* Alignment per row */
.review-container--top {
  align-items: flex-start;
}
.review-container--bottom {
  align-items: flex-end;
}
.review-container--center {
  align-items: center;
}

/* Alignment per cell */
.review-container-cell--top {
  align-self: flex-start;
}
.review-container-cell--bottom {
  align-self: flex-end;
}
.review-container-cell--center {
  align-self: center;
}

/* Base classes for all media */
.review-container--fit > .review-container-cell {
  flex: 1;
}
.review-container--full > .review-container-cell {
  flex: 0 0 100%;
}
.review-container--1of2 > .review-container-cell {
  flex: 0 0 50%
}
.review-container--1of3 > .review-container-cell {
  flex: 0 0 33.3333%
}
.review-container--1of4 > .review-container-cell {
  flex: 0 0 25%
}

/* Small to medium screens */
@media (min-width: 24em) {
  .small-review-container--fit > .review-container-cell {
    flex: 1;
  }
  .small-review-container--full > .review-container-cell {
    flex: 0 0 100%;
  }
  .small-review-container--1of2 > .review-container-cell {
    flex: 0 0 50%
  }
  .small-review-container--1of3 > .review-container-cell {
    flex: 0 0 33.3333%
  }
  .small-review-container--1of4 > .review-container-cell {
    flex: 0 0 25%
  }
}

/* Large screens */
@media (min-width: 48em) {
  .large-review-container--fit > .review-container-cell {
    flex: 1;
  }
  .large-review-container--full > .review-container-cell {
    flex: 0 0 100%;
  }
  .large-review-container--1of2 > .review-container-cell {
    flex: 0 0 50%
  }
  .large-review-container--1of3 > .review-container-cell {
    flex: 0 0 33.3333%
  }
  .large-review-container--1of4 > .review-container-cell {
    flex: 0 0 25%
  }
}