.isClaimed-icon {
  width: 20px;
}

.review-list {
  list-style-type: none;
  padding: 15px;
  max-width: 100%;
  list-style: none;
  margin: auto auto;
  max-width: 400px;
}

.review-item {
  border-radius: 8px;
  margin: 15px auto;
  max-width: 75%;
  padding: 10px 28px;
  background: rgb(250, 250, 250);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  text-align: start;
}

.review-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
}

.review-item h1 {
  font-size: 18px;
}

.search-section {
  display: flex;
}

#review-search {
    border: none;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.search-label {
  width: 100%;
}

#search-form {
  display: flex;
}

.input-wrapper {
  width: 100%;
}

#search {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  color: black;
}

/* #search-state {
  color: rgb(200, 255, 200);
} */

#search::placeholder {
  color: grey;
  font-size: 16px;
}

/* #review-search legend {
  color: #414141;
  font-size: 16px;
} */

#review-time {
  margin: 0px;
}

/* .search-review-wrapper {
  max-width: 100%;
} */

#search-state {
  max-width: 20%;
  height: 44px;
  border-radius: 0px;
  background: white;
  margin-left: 8px;
  background: whitesmoke;
  border: none;
  color: black;
  font-size: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}