.spinner {
  width: 200px;
}

.review-container {
  margin: 0 auto;
}

#review-date {
  color: grey;
  font-size: 12px;
  text-align: center;
}

#elapsed-time {
  font-size: 12px;
  font-style: italic;
}

.review-title {
  align-items: center;
  display: flex;
}