.submit-review {
  max-width: 500px;
  margin: auto auto;
  padding: 20px 20px;
}

#submit-review-form {
  max-width: 350px;
  margin: auto;
  background: white;
  padding: 10px;
  border-radius: 4px;
}

#review-message-input {
  min-height: 50px;
}

