/* .plates-back-link  {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  text-decoration: none
} */

.plates-back-link :hover {
  color: grey;
}

.public-plate-wrapper-positive {
  text-align: center;
  /* border-top: 1px solid darkgreen;
  border-bottom: 1px solid darkgreen; */
  padding: 6px;
  /* background: darkgreen; */
  background-image: linear-gradient(to right bottom, rgb(189, 207, 140),#348663);
  color: white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.45);
  width: 100vw;
  box-sizing: border-box;
  height: 175px;
  display: flex;
  margin-top: -10px;
}

.public-plate-wrapper-negative {
  text-align: center;
  /* border-top: 1px solid darkred;
  border-bottom: 1px solid darkred; */
  padding: 6px;
  /* background: darkred; */
  background-image: linear-gradient(to right bottom, rgb(207, 159, 140),#863456);
  color: white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.45);
  width: 100vw;
  box-sizing: border-box;
  height: 175px;
  display: flex;
  margin-top: -10px;
}

.public-plate-wrapper-neutral {
  text-align: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 6px;
  background:grey;
  color: white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.45);
  width: 100vw;
  box-sizing: border-box;
  height: 175px;
  display: flex;
  margin-bottom: 20px;
  margin-top: -10px;
}

.plate-info p {
  margin: 2px
}

